@mixin card-images{
  filter: blur(1px);
  -webkit-filter: blur(1px);
  background: center no-repeat cover;
  width: 356px;
  height: 190px;
}

.card-list{
  display: flex;
  justify-content: space-between;
  padding: 0%;
}

@media (max-width: 45em) {
  .card-list{
     flex-direction: column;
     flex-wrap: wrap;
     align-content: center;
  }
}

.link-selector{
    display: inline-block;
    color: rgb(16, 49, 59);
    transition: opacity .5s, transform .5s;
}

.link-selector:hover{
    transform: scale(1.09);
    opacity: 0.6;
}

.card-list-element{
    border-radius: 10px;
    margin: 0px;
    width: 332px;
    padding-bottom: 15px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.card-list-element-desc{
  color:rgb(88, 50, 224);
  display: block;
}

.writeups-card-image{
  @include card-images();
  content: url("/assets/writeups/photobomb/6.png");
}

.posts-card-image{
  @include card-images();
  content: url("/assets/posts/card_image.png");
}

.posts-background{
  background-image: linear-gradient(#12002e, #02343d);
  background-repeat: no-repeat;
}

.writeups-background{
  background-image: linear-gradient(#010005, #22023d, #111111);
  background-repeat: no-repeat;
}