@mixin emoji-base{
    padding-left: 4px;
    padding-right: 4px;
    margin: -4px;
}

img{
    &.emoji{
        @include emoji-base()
    }
    &.emoji-what{
        content: url("https://cdn.discordapp.com/emojis/1035873391128870972.webp?size=24&quality=lossless");
    }
    
    &.emoji-mhr{
        content: url("https://cdn.discordapp.com/emojis/1031767008850759770.webp?size=24&quality=lossless");
    }
    
    &.emoji-a{
        content: url("https://cdn.discordapp.com/emojis/954548592893374504.webp?size=24&quality=lossless");
    }
    
    &.emoji-cirnoq{
        content: url("https://cdn.discordapp.com/emojis/928462511232139344.webp?size=24&quality=lossless");
    }

    &.emoji-gatosi{
        content: url("https://cdn.discordapp.com/emojis/954548688125046834.webp?size=24&quality=lossless");
    }
    
    &.emoji-random{
        content: url("https://cdn.discordapp.com/emojis/957079269610254346.gif?size=24&quality=lossless");
    }    
}


