@import "cayman";
@import "emojis";
@import "custom";

body {
    background-color: rgb(14, 5, 24);
}

.tags{
    font-size: small;
    background-color: #181b0b;
    display: inline-block;
    padding: 5px;
    margin: 7px;
    border-radius: 4px;
}

.tags::before{
  content: "✎ ";
}

.highlight, .main-content pre, .main-content code{
    background-color: #0e0a24;
}

.highlight {
  .kd, .k, .o {
    color: #501A10;
  }
}

iframe{
  border: none;
}

@media screen and (max-width: 700px){
   .video{
     width: 340px;
     height: 340px;
   }
}

