@import "cayman";

body {
    background-color: rgb(14, 5, 24);
}

.info{
    font-size: small;
    background-color: #181b0b;
    padding: 5px;
    border-radius: 4px;
}

.highlight, .main-content pre, .main-content code{
    background-color: #070707;
}

.highlight {
  .kd, .k, .o {
    color: #501A10;
  }
}

.post-list {
  li {
    list-style-type: none;
    padding: 15px;
    a {
      position: relative;
      bottom: 10px;
    }
  }
  img {
    width: 32px;
    height: 32px;
  }
}

