<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head prefix="og: http://ogp.me/ns# website: https://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">The Vz0n's blog</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
    </header>
    <main id="content" class="main-content" role="main">
      {% comment %}
         This is not the best way to do this but well, at least
         seems better.
      {% endcomment %}
      {% assign writeups = site.posts | where: "type", "writeup" %}
      {% assign posts = site.posts | where: "type", "post" %}
      <ul class="post-list">
        <h3>Writeups</h3>
        {% for writeup in writeups %}   
            <li>
              <img src="/assets/writeups/{{ writeup.machine_name | downcase }}/logo.png">
              <a href="{{ writeup.url }}">{{ writeup.platform }} - {{ writeup.machine_name }}</a>
            </li>
        {% endfor %}
      </ul>
      <ul class="post-list">
        <h3>Posts</h3>
        {% for post in posts %}   
            <li>
              <img src="/assets/posts/{{ post.name | downcase }}/logo.png">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
      </ul>
      <footer class="site-footer">
        <span class="site-footer-credits">Hecho con &#x1F496; por Vz0n.</span>
      </footer>
    </main>
  </body>
</html>
