<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">The Vz0n's blog</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
    </header>
    <main id="content" class="main-content" role="main">
      {% comment %}
         TODO: Improve the post handling and don't
         use two for loops.
      {% endcomment %}
      {% assign posts = site.posts %}
      <ul class="post-list">
        <h3>Writeups</h3>
        {% for post in posts %}   
          {% if post.type == "writeup" %}
            <li>
              <img src="/assets/writeups/{{ post.machine_name }}/logo.webp">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="post-list">
        <h3>Posts</h3>
        {% for post in posts %}   
          {% if post.type == "post" %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endif %}
       {% endfor %}
      </ul>
      <footer class="site-footer">
        <span class="site-footer-credits">Hecho con &#x1F496; por Vz0n.</span>
      </footer>
    </main>
  </body>
</html>
