<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head prefix="og: http://ogp.me/ns# website: https://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body class="posts-background">
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title }}</h1>
      <h2 class="project-tagline">{{ page.description }}</h2>
    </header>
    <main id="content" class="main-content" role="main">
      {% assign posts = site.posts | where: "type", "post" %}
        <ul class="post-list">
          <h3>Lista de posts</h3>
          {% for post in posts %} 
              <li>  
                <a href="{{ post.url }}" title="{{ post.description }}">
                  <div class="post-list-item">
                    <img src="/assets/posts/{{ post.name }}/logo.png">
                    <span class="post-list-item-title">{{ post.title }}</span>
                    <span class="tags">{{ post.tags | join: ", " | default: "Sin etiquetas"}}</span>
                    <p>{{ post.description }}</p>
                  </div>
                </a>
              </li>
          {% endfor %}
         </ul>
      <a href="/" style="color:green;">Volver al menú principal</a>
      <footer class="site-footer">
        <span class="site-footer-credits">Hecho con &#x1F496; por Vz0n.</span>
      </footer>
    </main>
  </body>
</html>
